# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Environment variables and config files
.env
.env.*
*.sqlite3
*.log

# macOS system files
.DS_Store

# IDE and editor files
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
